<div class="row">
   <div class="small-6 small-centered columns form">

   <h1>Create a New Badge</h1>
      <%= form_for @badge do |f| %>
        <div class="field">
          <%= f.label :title, "Title" %>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label :completed_date, "Completed Date"%>
          <%= f.date_field :completed_date %>
        </div>

        <div class="field">
          <%= f.label :description %>
          <%= f.text_field :description %>
        </div>

        <div class="field">
          <%= f.label :url, "Logo" %>
          <%= f.url_field :url %>
       </div>

        <div class="actions">
          <%= f.submit "Register", class: "button round submit" %>
        </div>
      <% end %>

   </div>
 </div>
