<div class="row">
   <div class="small-6 small-centered columns form">

     <%= form_tag({action: :create}, multipart: true) do %>

         <div class="field">
           <%= label :name, "Name" %>
           <%= text_field_tag :name %>
         </div>

         <div class="field">
           <%= label :completed_date, "Completed Date" %>
           <%= date_field_tag :completed_date %>
         </div>

         <div class="field">
           <%= label :description, "Description" %>
           <%= text_field_tag :description %>
         </div>

         <div class="field">
           <%= label :logo, "Logo" %>
           <%= url_field_tag :logo %>
        </div>

         <div class="actions">
           <%= submit_tag "Add to Site", class: "button round submit" %>
         </div>
       <% end %>

       </div>
     </div>
