<div class="profile-page-container">
<div class="profile-header">
  <div class="photo-container">
    <%= image_tag 'wolfgang.jpg', class: 'profile-photo' %>
    <br>
    <% if user_signed_in? && @user == current_user %>
      <%= link_to 'Upload Photo', '#' %>
      <br>
      <%= link_to "Add a Course", new_course_path %>
    <% end %>
  </div>
  <div class="profile-personal-info-container">
    <h2><%= @user.full_name %></h2>
    <span><%= @user.phone_number %></span>
    <br>
    <span><%= @user.email %></span>
  </div>
</div>

<h2 class="profile-section-title">Badges</h2>
<div class="row">
  <% @badges.each do |badge| %>
    <div class="large-4 columns end badge">
      <%= image_tag badge["url"], class: "badge-logo" %>
      <br>
      <span class="bold"><%= badge["title"] %></span>
      <br>
      <% if badge.badge_assigner %>
        <span>Issuer: <%= badge.badge_assigner.first_name %> <%= badge.badge_assigner.last_name %></span>
      <% else %>
        <span>Issuer: Self</span>
      <% end %>
      <br>
      <!-- <% if badge["completed_date"] %>
        <span>Validation Date: <%= badge["completed_date"].strftime("%B %Y") %></span>
      <% else %>
        <span>Validation Date: Self</span>
      <% end %> -->
    </div>
  <% end %>
</div>
</div>

<h2 class="profile-section-title">Coursework</h2>

<div>
  <% @courses.each do |course| %>
    <article class="course">
      <span class="bold"><%= course.course_title %></span>
      <br>
      <span>Provider: <%= course.provider %></span>
      <br>
      <span>Completed: <%= course.completed_date.strftime("%B %Y") %></span>
    </article>
  <% end %>

  <article class="course">
    <span class="bold">Intro to Python</span>
    <br>
    <span>Provider: General Assembly</span>
    <br>
    <span>Completed: May 2015</span>
  </article>

  <article class="course">
    <span class="bold">Advanced jQuery</span>
    <br>
    <span>Provider: Resiliant Coders</span>
    <br>
    <span>Completed: September 2015</span>
  </article>

  <article class="course">
    <span class="bold">API </span>
    <br>
    <span>Provider: General Assembly</span>
    <br>
    <span>Completed: May 2015</span>
  </article>
</div>
